<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Transfer and Accomodation</h2>
                    <h3 class="section-subheading italic-subheading">Once a treatment schedule is planned, we will welcome you at the airport and locate you at a hotel which is close to the designated treatment facility and centrally located. We are going to do our best for our valuable patients ‘ comfort.</h3>
                </div>
            </div>
        </div>
    </section>
